@using BlogSharingSite.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBL_Blogs>
@{
    ViewBag.Title = "Bloglar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="s-content">

    <div style="margin-left:20px">
        <span class="" style="font-weight:bold; border:1px solid; padding:10px 25px">BLOG LİSTESİ</span>
    </div>
    <br />
    <div class="masonry-wrap">

        <div class="table-responsive">

            <table class="my-data">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>Kategori</th>
                        <th>Tarih</th>
                        <th>Durum</th>
                        <th>Görüntüle</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.blogID</td>
                            <td>@{var sonuc = x.blogTitle.Length >= 15 ? x.blogTitle.Substring(0, 15) : x.blogTitle.ToString();} @sonuc...</td>
                            <td>@x.TBL_Categories.categoryTitle</td>
                            <td>@x.blogDate</td>
                            <td>@{var durum = x.blogStatus == true ? "Aktif" : "Pasif";}@durum</td>
                            <td><a class="btn btn--primary btn-show" href="/Blog/BlogDetails/@x.blogID">GÖRÜNTÜLE</a></td>
                            <td><a class="btn btn--stroke btn-delete" onclick="Sil(@x.blogID)" id="btnSil">SİL</a></td>
                            <td><a class="btn btn--stroke btn-update" href="/Admin/UpdateBlog/@x.blogID" style="background-color:green;">GÜNCELLE</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="display:flex; justify-content:space-between">
                <div>
                    <nav class="pgn">
                        <ul>
                            <li>@Html.PagedListPager((IPagedList)Model, p => Url.Action("/Index", new { p }))</li>
                        </ul>
                    </nav>
                </div>
                <div style="display:flex; justify-content:end">
                    <a href="/Admin/NewBlog" class="btn btn--primary btn-wide btn--large">YENİ BLOG</a>
                </div>
                <button id="showProduct" onclick="test()" class="btn btn--primary btn-wide btn--large">ÜRÜNLERİ GÖSTER</button>
            </div>

        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    function test() {
        fetch("https://fakestoreapi.com/products")
            .then((res) => res.json())
            .then((json) => console.log(json));
    }

    
</script>

<style>
    .my-data .btn-delete {
        background-color: red !important;
        color: white;
        border-color: red;
    }

        .my-data .btn-delete:hover {
            background-color: white !important;
            border-color: red;
            color: red;
        }

    .my-data .btn-update {
        background-color: #16b0ea !important;
        color: white;
        border-color: #16b0ea;
    }

        .my-data .btn-update:hover {
            background-color: white !important;
            color: #16b0ea;
            border-color: #16b0ea;
        }

    .my-data .show {
        background-color: black !important;
        color: white;
        border-color: black;
    }

    .my-data .btn-show:hover {
        background-color: white !important;
        color: black;
        border-color: black;
    }

    .pagination-container .pagination {
        display: flex;
        gap: 10px;
    }

        .pagination-container .pagination a {
            color: black;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

            .pagination-container .pagination a:hover {
                background-color: #d7d7d8;
            }

        .pagination-container .pagination .active a {
            background-color: black;
            color: white;
        }
</style>