@using PagedList;
@using PagedList.Mvc;
@using BlogSharingSite.Models.Entity;
@model PagedList.IPagedList<TBL_Messages>
@{
    ViewBag.Title = "Mesajlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="s-content">

    <div style="margin-left:20px">
        <span class="" style="font-weight:bold; border:1px solid; padding:10px 25px">@ViewBag.status MESAJLAR</span>
    </div>
    <br />
    <div class="masonry-wrap">

        <div class="table-responsive">

            <table class="my-data">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Gönderen</th>
                        <th>E-Posta</th>
                        <th>Konu</th>
                        <th>İçerik</th>
                        <th>Tarih</th>
                        <th>Sil</th>
                        <th>Detay</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Count <= 0)
                        {


                            <div class="alert-box alert-box--notice hideit">
                                <p>Görüntülenecek mesaj bilgisi bulunamadı.</p>
                            </div><!-- end notice -->
                            
                        }
                        else
                        {
                            foreach (var x in Model)
                            {
                                <tr>
                                    <td>@x.messageID</td>
                                    @*<td>@{var sonuc = x.commentUserName.Length >= 15 ? x.commentUserName.Substring(0, 15) : x.commentUserName.ToString();} @sonuc</td>*@
                                    <td>@x.senderName</td>
                                    <td>@x.senderMail</td>
                                    <td>@x.messageSubject</td>
                                    <td>@{var result = x.messageContent.Length >= 30 ? x.messageContent.Substring(0, 30) : x.messageContent;}@result ...</td>
                                    <td>@x.messageDate</td>
                                    <td><a class="btn btn--stroke btn-delete" href="/Admin/DeleteMessage/@x.messageID">SİL</a></td>
                                    <td><a class="btn btn--stroke btn-show" href="/Admin/MessageDetails/@x.messageID">DETAY</a></td>
                                    @*<td>@{var sonuc2 = x.commentContent.Length >= 15 ? x.commentContent.Substring(0, 15) : x.commentContent.ToString();} @sonuc2...</td>*@
                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>
            <div style="display:flex; justify-content:center">
                <div>
                    <nav class="pgn">
                        <ul>
                            @{
                                if (ViewBag.status == "OKUNMAMIŞ")
                                {
                                    <li>@Html.PagedListPager((IPagedList)Model, p => Url.Action("/Messages", new { p, status = 1 }))</li>
                                }
                                else
                                {
                                    <li>@Html.PagedListPager((IPagedList)Model, p => Url.Action("/Messages", new { p, status = 0 }))</li>
                                }
                            }

                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>

</div>


<style>
    .my-data .btn-delete {
        background-color: red !important;
        color: white;
        border-color: red;
    }

        .my-data .btn-delete:hover {
            background-color: white !important;
            border-color: red;
            color: red;
        }

    .my-data .btn-active {
        background-color: green !important;
        color: white;
        border-color: green;
    }

        .my-data .btn-active:hover {
            background-color: white !important;
            border-color: green;
            color: green;
        }

    .my-data .btn-update {
        background-color: #16b0ea !important;
        color: white;
        border-color: #16b0ea;
    }

        .my-data .btn-update:hover {
            background-color: white !important;
            color: #16b0ea;
            border-color: #16b0ea;
        }

    .my-data .btn-show {
        background-color: black !important;
        color: white;
        border-color: black;
    }

    .my-data .btn-show:hover {
        background-color: white !important;
        color: black;
        border-color: black;
    }

    .pagination-container .pagination {
        display: flex;
        gap: 10px;
    }

        .pagination-container .pagination a {
            color: black;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

            .pagination-container .pagination a:hover {
                background-color: #d7d7d8;
            }

        .pagination-container .pagination .active a {
            background-color: black;
            color: white;
        }
</style>
