@model BlogSharingSite.Models.Entity.TBL_Messages
@{
    ViewBag.Title = "Mesaj Detayları";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="s-content">

    <div style="margin-left:20px">
        <span class="" style="font-weight:bold; border:1px solid; padding:10px 25px">MESAJ DETAYLARI</span>
    </div>
    <br />
    <div class="masonry-wrap">
        <fieldset>
            <div class="form-field">
                <span>Gönderen</span>
                @Html.TextBoxFor(m => m.senderName, new { @class = "full-width" , @readonly="readonly"})
            </div>

            <div class="form-field">
                <span>Mail Adresi</span>
                @Html.TextBoxFor(m => m.senderMail, new { @class = "full-width", @readonly = "readonly" })
            </div>

            <div class="form-field">
                <span>Konu</span>
                @Html.TextBoxFor(m => m.messageSubject, new { @class = "full-width", @readonly = "readonly" })
            </div>
            <div class="form-field">
                <span>Tarih</span>
                @Html.TextBoxFor(m => m.messageDate, new { @class = "full-width", @readonly = "readonly" })
            </div>
            <div class="form-field">
                <span>Gönderen</span>
                @Html.TextAreaFor(m => m.messageContent, new { @class = "full-width" , @style="resize:none;", @readonly = "readonly" })
            </div>
        </fieldset>
    </div>

</div>

